
@{
    ViewBag.Title = "Index";
}

<hgroup>
    <h1>Oops!</h1>
    <h2>Looks like we encountered a glitch in the Multiverse.</h2>
    <h2>But fear not, Doctor Strange is on it to restore the balance!</h2>
</hgroup>

